# Server Configuration
PORT=8000
HOST=127.0.0.1
DEBUG=True

# Security & Authentication (Change in production!)
SECRET_KEY=cloud-assignment-portal-super-secret-jwt-key-2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database Configuration (SQLite default for local free-tier simulation; or postgresql://user:pass@host/db)
DATABASE_URL=sqlite:///./assignment_portal.db

# Storage Driver: "local" (Simulates Cloud Object Storage) or "s3" or "firebase"
STORAGE_DRIVER=local
STORAGE_BUCKET_NAME=cloud-assignment-portal-submissions
LOCAL_STORAGE_DIR=./cloud_storage_bucket

# Upload Constraints
MAX_FILE_SIZE_MB=25
ALLOWED_EXTENSIONS=pdf,docx,zip,png,jpg,jpeg
